*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

* {
  cursor: none;
}

html,
body {
  height: 100%;
  cursor: none;
}

button {
  border: none;
}

body {
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  overflow-x: hidden;
}

.main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-video {
  position: relative;
}

.bg-video video {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  z-index: -1;
}

.cursor {
  width: 15px;
  height: 15px;
  background-color: #EE3831;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #EE3831;
  border-radius: 100%;
  z-index: 999;
  pointer-events: none;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.cursor.hover-btn {
  opacity: 0;
}

.cursor__tail {
  width: 5px;
  height: 5px;
  background-color: #EE3831;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #EE3831;
  border-radius: 100%;
  z-index: 999;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: #EF3340;
}

header {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 64px 0 64px;
  z-index: 5;
  -webkit-transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

header .nav {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .title {
  margin-right: auto;
}

header .nav .toggle {
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  cursor: none;
}

header .nav .toggle .bar {
  position: relative;
  width: 30px;
  height: 2px;
  background: #fff;
}

header .nav .toggle .bar:before,
header .nav .toggle .bar:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  left: 0;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: top 0.25s ease, bottom 0.25s ease, -webkit-transform 0.25s ease;
  transition: top 0.25s ease, bottom 0.25s ease, -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease, top 0.25s ease, bottom 0.25s ease;
  transition: transform 0.25s ease, top 0.25s ease, bottom 0.25s ease;
  transition: transform 0.25s ease, top 0.25s ease, bottom 0.25s ease, -webkit-transform 0.25s ease;
}

header .nav .toggle .bar:before {
  top: -8px;
}

header .nav .toggle .bar:after {
  bottom: -8px;
}

header .nav .toggle.clicked .bar {
  background: transparent;
}

header .nav .toggle.clicked .bar:before,
header .nav .toggle.clicked .bar:after {
  background: #000;
}

header .nav .toggle.clicked .bar:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

header .nav .toggle.clicked .bar:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}

header .nav nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  opacity: 0;
  z-index: 5;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

header .nav nav .showcase {
  background: #000;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav nav .showcase .showcase-container {
  width: 50%;
  position: relative;
  overflow: hidden;
}

header .nav nav .showcase .showcase-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

header .nav nav .showcase .showcase-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible;
  list-style-type: none;
  -webkit-transition: top 0.25s ease;
  -o-transition: top 0.25s ease;
  transition: top 0.25s ease;
}

header .nav nav .showcase .showcase-menu li {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

header .nav nav .showcase .showcase-menu li.overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

header .nav nav .menu {
  background: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

header .nav nav .menu ul {
  width: 100%;
  padding: 80px 48px 24px 48px;
  list-style-type: none;
  max-height: 100%;
  overflow-y: auto;
}

header .nav nav .menu ul::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

header .nav nav .menu ul::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

header .nav nav .menu ul::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border: 0px none #ffffff;
  border-radius: 3px;
}

header .nav nav .menu ul::-webkit-scrollbar-thumb:hover {
  background: #000;
}

header .nav nav .menu ul::-webkit-scrollbar-thumb:active {
  background: #000;
}

header .nav nav .menu ul::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border: 0px none #ffffff;
  border-radius: 0;
}

header .nav nav .menu ul::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.1);
}

header .nav nav .menu ul::-webkit-scrollbar-track:active {
  background: rgba(0, 0, 0, 0.1);
}

header .nav nav .menu ul::-webkit-scrollbar-corner {
  background: transparent;
}

header .nav nav .menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav nav .menu ul li .number {
  display: inline-block;
  padding: 0 0 0 80px;
  overflow: hidden;
}

header .nav nav .menu ul li .number span {
  display: block;
  font-size: 48px;
  font-weight: 400;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

header .nav nav .menu ul li a {
  display: inline-block;
  font-size: 48px;
  color: #000;
  line-height: 1;
  padding: 24px 0 24px 80px;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

header .nav nav .menu ul li:hover a {
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}

header .nav nav .menu ul li.hover .number span {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

header .nav nav.hidden {
  display: none;
}

header .nav nav.open {
  opacity: 1;
}

header .nav nav.open .showcase {
  -webkit-animation: slideInLeft 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
  animation: slideInLeft 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

header .nav nav.open .menu {
  -webkit-animation: slideInRight 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
  animation: slideInRight 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.container {
  max-width: 1323px;
  margin: 0 auto;
}

.aboutUs__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutUs__left {
  max-width: 800px;
}

.aboutUs__left h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: #E5E5E5;
}

.aboutUs__left p {
  font-size: 32px;
  line-height: 150%;
  color: #E5E5E5;
}

.aboutUs__left p:nth-child(2) {
  margin: 64px 0 120px 0;
}

.aboutUs__right {
  max-width: 424px;
  margin-left: 130px;
}

.aboutUs__right h2 {
  text-align: center;
  font-size: 24px;
  line-height: 150%;
  color: #E5E5E5;
  font-weight: bold;
  margin-bottom: 53px;
}

.aboutUs__right-item {
  max-width: 424px;
  background: #151515;
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
  border-radius: 16px;
  padding: 48px 32px;
}

.aboutUs__right-item:not(:last-child) {
  margin-bottom: 24px;
}

.aboutUs__right-item p {
  font-size: 24px;
  line-height: 150%;
  color: #E5E5E5;
}

.services__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  background: #151515;
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
  border-radius: 16px;
  padding: 48px 32px;
  max-width: 312px;
}

.services__item:not(:last-child) {
  margin-right: 25px;
}

.services__item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #E5E5E5;
  padding-top: 42px;
  padding-bottom: 18px;
}

.services__item p {
  font-size: 14px;
  line-height: 17px;
  color: #E5E5E5;
}

.img__container {
  display: inline-block;
  background: transparent;
  border-radius: 12px;
  padding: 7px;
}

.coments__item {
  background: #151515;
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
  border-radius: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 384px;
          flex: 0 0 384px;
  padding: 31px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment p {
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  color: #E5E5E5;
}

.comment__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
}

.comment__user p {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.user__img {
  max-width: 48px;
  margin-right: 20px;
}

.user__img img {
  border-radius: 12px;
}

.coments__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
}

.title__lable {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #EE3831;
  text-align: center;
}

.btn__wrapper {
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  padding: 12px 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.btn__wrapper:hover {
  border: 2px solid #EE3831;
}

.btn__wrapper:hover .btn {
  color: #EE3831;
  background: url(../img/rightRed.svg) right center/18% no-repeat;
}

.btn__wrapper:hover .btn-up {
  background: url(../img/upRightRed.svg) right center/18% no-repeat;
}

.btn__wrapper:hover .btn-send {
  background: url(../img/sendRed.svg) right center no-repeat;
}

.btn {
  outline: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding-right: 35px;
  background: url(../img/right.svg) right center/18% no-repeat;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.btn-up {
  background: url(../img/upRight.svg) right center/18% no-repeat;
}

.flex__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex__wrapper-collum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__wrapper-collum .title {
  margin-top: 48px;
  margin-bottom: 128px;
}

footer {
  padding-top: 45px;
  padding-bottom: 64px;
  background: #151515;
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__item {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item:nth-child(2n) {
  margin-right: 75px;
}

.footer__item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #E5E5E5;
  margin-bottom: 32px;
}

.footer__item a {
  color: white;
}

.footer__item:first-child {
  margin-right: 282px;
}

.footer__item:first-child img {
  margin-bottom: 32px;
}

.footer__item:first-child p {
  max-width: 278px;
  font-size: 18px;
  line-height: 22px;
}

.footer__item:first-child a {
  display: block;
  font-size: 18px;
  line-height: 22px;
  margin: 32px 0;
}

.footer__item:nth-child(3) {
  margin-right: 129px;
}

.footer__item:nth-child(3) a {
  display: block;
  margin-bottom: 31px;
}

.footer__item:nth-child(4) p {
  max-width: 270px;
}

.section-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 10;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding-left: 50px;
  background: url(../img/left.svg) center left no-repeat;
}

.portfolio__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.potfolio__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 314px;
}

.potfolio__info h2,
.potfolio__info h3,
.potfolio__info p {
  color: white;
}

.potfolio__info h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin: 24px 0;
}

.potfolio__info h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #E5E5E5;
}

.potfolio__info p {
  font-size: 14px;
  line-height: 17px;
  color: #E5E5E5;
}

.potfolio__info p:not(:last-child) {
  margin-right: 15px;
}

.portfolio__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0 64px 0;
}

.portfolio__stack img {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.order__section {
  margin-top: 64px;
}

.order__section h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.order__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order__checkbox .checkbox__item {
  padding: 12px 24px;
  background: #151515;
  border-radius: 25px;
  margin-bottom: 24px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 1px solid transparent;
}

.order__checkbox .checkbox__item:hover {
  border: 1px solid #EE3831;
}

.order__checkbox .checkbox__item:hover p {
  color: #EE3831;
}

.order__checkbox .checkbox__item.active {
  background-color: #EE3831;
}

.order__checkbox .checkbox__item.active p {
  color: white;
}

.order__checkbox .checkbox__item:not(:last-child) {
  margin-right: 14px;
}

.order__checkbox .checkbox__item p {
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.order__checkbox .checkbox__item input {
  display: none;
}

.order__form {
  margin-top: 128px;
  max-width: 865px;
}

.filter-headline {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cost__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.cost__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-right: 16px;
  background-color: #151515;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  border-radius: 6px;
}

.cost__label:not(:focus-within):hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.cost__label:first-child {
  margin-right: 12px;
}

.cost__input {
  all: unset;
  color: #fff;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  padding: 11px 0 11px 18px;
}

.range-slider {
  margin-top: 24px;
  width: 311px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.3)), color-stop(#fff), color-stop(#fff), to(rgba(255, 255, 255, 0.3)));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.3) var(--first-val), #fff var(--first-val), #fff var(--second-val), rgba(255, 255, 255, 0.3) var(--second-val));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) var(--first-val), #fff var(--first-val), #fff var(--second-val), rgba(255, 255, 255, 0.3) var(--second-val));
  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  height: 20px;
}

.range-slider__input {
  cursor: -webkit-grab;
  cursor: none;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  background-color: transparent;
}

.range-slider__input::-webkit-slider-runnable-track {
  background: none;
  height: 100%;
  width: 100%;
}

.range-slider__input::-moz-range-track {
  background: none;
  height: 100%;
  width: 100%;
}

.range-slider__input::-webkit-slider-thumb {
  background-color: red;
  border: 2px solid white;
  /* get rid of Firefox thumb border */
  border-radius: 50%;
  pointer-events: auto;
  /* catch clicks */
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
}

.range-slider__input::-webkit-slider-thumb:hover {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-slider__input::-webkit-slider-thumb:active {
  background-color: red;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.range-slider__input::-moz-range-thumb {
  background-color: #fff;
  border: none;
  /* get rid of Firefox thumb border */
  border-radius: 5px;
  pointer-events: auto;
  /* catch clicks */
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
}

.range-slider__input::-moz-range-thumb:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-slider__input::-moz-range-thumb:active {
  outline: 2px solid #fff;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.range-slider__input:last-of-type {
  position: absolute;
}

.range-slider__input:focus {
  outline: none;
}

.range-slider__input:focus::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-slider__input:focus::-moz-range-thumb {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-slider__input:not(:only-of-type) {
  pointer-events: none;
  right: 0;
}

:root {
  --c-active: #ee3831;
  --c-active-inner: #FFFFFF;
  --c-default: #151515;
  --c-default-dark: #151515;
  --c-black: #1B1B22;
}

.price__estimate {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #8B8B8B;
  text-transform: uppercase;
  margin-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: var(--border-radius, 12px) var(--border-radius-corner, 12px) var(--border-radius, 12px) var(--border-radius, 12px);
  position: relative;
}

.price__estimate input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: var(--input-background, none);
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: inherit;
  width: var(--input-width, 24px);
  height: var(--input-height, 24px);
  margin-right: 14px;
}

.price__estimate svg {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  pointer-events: none;
  fill: var(--c-active-inner);
  -webkit-transform: scale(1.01) translateZ(0);
          transform: scale(1.01) translateZ(0);
}

.price__estimate input {
  --border-color: var(--c-default);
  --border-width: 2px;
  -webkit-box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
          box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
}

.price__estimate input:checked {
  --border-color: var(--c-active);
}

.price__estimate input:not(:checked) {
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.price__estimate input:not(:checked):hover {
  --border-width: 3px;
  --border-color: var(--c-active);
}

.price__estimate {
  --border-radius: 5px;
  --border-radius-corner: 5px;
}

.price__estimate input:checked {
  --border-width: 12px;
}

.price__estimate input:checked + svg {
  --tick-offset: 46.5px;
}

.price__estimate input + svg {
  --dot-x: 14px;
  --dot-y: -14px;
  --dot-s: 1;
  --tick-offset: 20.5px;
  --tick-array: 16.5px;
  --tick-s: 1;
  --drop-s: 1;
}

.price__estimate input + svg .tick {
  fill: none;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke: var(--c-active-inner);
  stroke-dasharray: var(--tick-array) 33px;
  stroke-dashoffset: var(--tick-offset);
  -webkit-transform-origin: 10.5px 16px;
      -ms-transform-origin: 10.5px 16px;
          transform-origin: 10.5px 16px;
  -webkit-transform: scale(var(--tick-s)) translateZ(0);
          transform: scale(var(--tick-s)) translateZ(0);
}

.price__estimate input + svg .dot {
  -webkit-transform-origin: 10.5px 15.5px;
      -ms-transform-origin: 10.5px 15.5px;
          transform-origin: 10.5px 15.5px;
  -webkit-transform: translate(var(--dot-x), var(--dot-y)) scale(var(--dot-s)) translateZ(0);
          transform: translate(var(--dot-x), var(--dot-y)) scale(var(--dot-s)) translateZ(0);
}

.price__estimate input + svg .drop {
  -webkit-transform-origin: 25px -1px;
      -ms-transform-origin: 25px -1px;
          transform-origin: 25px -1px;
  -webkit-transform: scale(var(--drop-s)) translateZ(0);
          transform: scale(var(--drop-s)) translateZ(0);
}

input[type=checkbox] {
  cursor: none;
}

.order__section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 64px;
}

.order__section-flex .order__file {
  margin-right: 120px;
  position: relative;
  margin-top: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 93%;
          flex: 0 0 93%;
  background: #151515;
  border-radius: 6px;
}

.order__section-flex input[type=text] {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  background: #151515;
  border-radius: 6px;
  border: none;
  padding: 12px 0 12px 24px;
  outline: none;
  color: #fff;
}

.order__section-flex input[type=text]:not(:last-child) {
  margin-right: 24px;
}

.order__section-flex label[for=file] {
  position: absolute;
  right: 2%;
  top: 10%;
  font-size: 0;
  width: 24px;
  height: 24px;
}

.order__section-flex label[for=file] input {
  display: none;
}

.order__section-flex textarea {
  color: #fff;
  outline: none;
  width: 90%;
  background: transparent;
  border: none;
  padding: 12px 0 12px 24px;
  height: 170px;
  resize: none;
}

.order__section-flex textarea::-webkit-scrollbar {
  display: none;
}

.order__section-flex .price__estimate {
  margin-left: 0;
  margin-right: 24px;
}

.btn-send {
  background: url(../img/send.svg) right center no-repeat;
}

.magnet {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.pt-100 {
  padding-top: 200px;
  padding-bottom: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #151515;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 20px 0 10px white;
          box-shadow: inset 20px 0 10px white;
  border-radius: 25px;
}

.animate {
  opacity: 0;
  -webkit-transform: translateY(400px);
      -ms-transform: translateY(400px);
          transform: translateY(400px);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.animate.fade-top {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.file__preview {
  margin-top: 64px;
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.file__preview img {
  border-radius: 8px;
}

.file__preview p {
  color: white;
  margin-top: 10px;
}

.thanks__flex {
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thanks__flex p {
  margin: 48px 0 128px 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1440px) {
  .aboutUs__right-item p {
    text-align: center;
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1120px;
  }

  .aboutUs__flex {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .aboutUs__left {
    max-width: 50%;
  }

  .aboutUs__left h2 {
    font-size: 23px;
  }

  .aboutUs__left p {
    font-size: 19px;
  }

  .aboutUs__right {
    max-width: 50%;
    margin-left: 0;
  }

  .aboutUs__right-item p {
    text-align: center;
    font-size: 19px;
  }

  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }

  .services__item h3 {
    font-size: 20px;
  }

  .services__item p {
    font-size: 12px;
  }

  .comment p {
    font-size: 16px;
  }

  .comment__user p {
    font-size: 20px;
  }

  .potfolio__info {
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .potfolio__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .footer__flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__item:first-child {
    margin-right: 0;
  }

  .footer__item:nth-child(2n) {
    margin-right: 0;
  }

  .footer__item:nth-child(3) {
    margin-right: 0;
  }

  .title {
    font-size: 50px;
  }

  .footer__item:first-child p {
    font-size: 15px;
  }

  .footer__item:first-child a {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 845px;
  }

  .aboutUs__left h2 {
    font-size: 17px;
  }

  .aboutUs__left p {
    font-size: 15px;
  }

  .aboutUs__right-item {
    max-width: 320px;
  }

  .aboutUs__right-item p {
    font-size: 14px;
  }

  .aboutUs__right h2 {
    font-size: 17px;
  }

  .services__flex {
    overflow: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .services__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .potfolio__info h3 {
    font-size: 20px;
  }

  .potfolio__info h2 {
    font-size: 28px;
  }

  .portfolio__stack img {
    width: 25px;
    height: 25px;
  }

  .btn__wrapper {
    padding: 10px 18px;
  }

  .btn {
    font-size: 14px;
    padding-right: 23px;
  }

  .footer__item:nth-child(4) p {
    font-size: 13px;
  }

  .footer__item h3 {
    font-size: 17px;
  }

  .footer__item a {
    font-size: 12px;
  }

  .footer__item:first-child p {
    font-size: 12px;
  }

  header .nav nav .menu ul li a {
    font-size: 30px;
    padding: 24px 0 24px 50px;
  }

  header .nav nav .menu ul li .number span {
    font-size: 30px;
  }

  .title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 680px;
  }

  .aboutUs__right-item {
    max-width: 260px;
  }

  .aboutUs__right-item p {
    font-size: 10px;
  }

  .aboutUs__left p:nth-child(2) {
    margin: 64px 0 64px 0;
  }

  .footer__item:nth-child(4) p {
    max-width: 110px;
  }

  .footer__item:first-child p {
    max-width: 170px;
  }

  .title {
    font-size: 32px;
  }

  .order__section h3 {
    font-size: 20px;
  }

  .order__checkbox .checkbox__item p {
    font-size: 11px;
  }

  .cost__inputs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .price__estimate {
    margin-left: 0;
    margin-top: 20px;
  }

  .section-nav {
    display: none;
  }

  .cost__label {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 12px;
  }

  .cursor {
    display: none;
  }

  .cursor__tail {
    display: none;
  }

  .coments__flex {
    overflow: hidden;
  }

  .order__section-flex .order__file {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }

  .potfolio__info h3 {
    font-size: 15px;
  }

  .potfolio__info h2 {
    font-size: 18px;
  }

  .potfolio__info p:not(:last-child) {
    margin-right: 8px;
  }

  .potfolio__info p {
    font-size: 10px;
  }

  .portfolio__stack img {
    width: 18px;
    height: 18px;
  }

  .portfolio__stack {
    margin: 24px 0 30px 0;
  }

  .footer__item:nth-child(4) p {
    font-size: 10px;
  }

  .footer__item:first-child p {
    font-size: 10px;
  }

  .footer__item:first-child a {
    font-size: 10px;
  }

  header .nav nav .menu ul {
    padding: 170px 48px 24px 0px;
  }

  header .nav nav .menu ul li .number {
    padding: 0 0 0 30px;
  }

  .order__form {
    margin-top: 75px;
  }

  .title {
    font-size: 25px;
  }

  .cost__label {
    max-width: 45%;
  }

  .cost__input {
    padding: 11px 0 11px 11px;
    max-width: 90%;
  }

  .order__section-flex input[type="text"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .price__estimate {
    font-size: 16px;
  }

  .btn {
    padding-right: 34px;
  }

  .aboutUs__flex {
    padding-top: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .aboutUs__left {
    max-width: 100%;
  }

  .aboutUs__right {
    margin-top: 90px;
    max-width: 100%;
  }

  .aboutUs__right h2 {
    font-size: 20px;
  }

  .aboutUs__right-item {
    max-width: 100%;
  }

  .aboutUs__right-item p {
    font-size: 18px;
  }

  .aboutUs__left h2 {
    font-size: 20px;
  }

  .services__flex::-webkit-scrollbar {
    display: none;
  }

  header .nav nav.open {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .portfolio__flex {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .potfolio__info {
    margin-top: 50px;
    max-width: 100%;
  }

  .potfolio__info h3 {
    font-size: 20px;
  }

  .potfolio__info h2 {
    font-size: 25px;
  }

  .potfolio__info p {
    font-size: 15px;
  }

  .portfolio__stack img {
    width: 20px;
    height: 20px;
  }

  header {
    padding: 0 12px 0 12px;
  }

  .services__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 77%;
            flex: 1 0 77%;
  }

  .title {
    font-size: 16px;
    text-align: center;
  }

  .footer__item:nth-child(4) {
    display: none;
  }

  .order__section h3 {
    font-size: 14px;
  }

  .order__checkbox .checkbox__item {
    padding: 12px 12px;
  }
}